apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "endpoint": "ovh-eu",
      "application_key": "*****",
      "application_secret": "*****",
      "consumer_key": "****"
    }